.containerData {
    height: 100vh;
    width: 100%;
}

.content {
    width: 100%;

}

.Frase {
    height: 15.2vh;
    background-color: rgb(228, 228, 231);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) inset, 0 0 30px 0 rgba(0, 0, 0, 0.2) inset;
    text-align: center;
}

.Frase h1 {
    margin: 0;
    font-size: 40px;
}

.Frase p {
    font-size: 25px;
    color: rgb(118, 118, 118);
}

.data {
    height: 71vh;
    width: 100%;

    display: flex;
}


.mision {
    text-align: center;
    justify-content: center;
    width: 30%;
    padding: 2%;
    /* height: 62vh; */
    background-color: #f0f0f0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3) inset, 0 0 30px 0 rgba(0, 0, 0, 0.2) inset;
    position: relative;
    font-size: 28px;
    

}

.mision p {
    width: 100%;

}

.Vision {
    width: 30%;
    background-color: #dddcdc;
    padding: 2%;
    text-align: center;
    justify-content: center;
    font-size: 28px;
}

.Valores {
    width: 30%;
    text-align: center;
    justify-content: center;
    padding: 2%;
    /* height: 62vh; */
    background-color: #f0f0f0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3) inset, 0 0 30px 0 rgba(0, 0, 0, 0.2) inset;
    position: relative;
    font-size: 25px;
}

.img {
    width: 100%;
    height: 40%;
}

@media screen and (max-width:500px) {

    .content {
        height: 96vh;
        width: 100vw;

        /* position: fixed; */
        font-size: 10px;

    }

    .data {
        height: 81vh;
    }

    .img {
        height: 20%;
    }

    .Frase p{
        font-size: 12px;
    }
}

@media screen and (max-width:980px){
    .content{
        height: 95vh;
    }

    .data {
        height: 72vh;
    }

    .Frase p{
        font-size: 22px;
    }

    .mision{
        font-size: 20.5px;
    }

    .Vision{
        font-size: 20.5px;
    }

    .Valores{
        font-size: 20.5px;
    }

    .img {
        height: 20%;
    }

}
