.padre{
overflow: hidden;
height: 100vh;
}



.imagen{
    width: 100%;
    height: 100%;
    filter: saturate(150%);

}

.contentImagen{
    height: 70vh;
}

.container{
    height: 100vh;
}

.data{
    height: 15.5%;
    background: black;
    color: white;
    display: flex;
    width: 100%;
}
.frase{
    width: 80%;
}

.frase h1{
    margin: 0;
    padding: 2%;
    text-align: center;
}


/* ***********estilos para el boton******************** */
.Boxbutton{
    width: 20%;
    padding-top: 1.5%;
}




.boton {
    --primary-color: rgb(0, 173, 239);
    --secondary-color: #040404;
    --hover-color: #ffffff;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    text-decoration: none;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    cursor: pointer;
    width: 43%;
  }
  
  .boton .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .boton .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .boton .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .boton:hover {
    background-color: var(--hover-color);
    color: black;
  }
  
  .boton:hover .arrow {
    background: black;
    
  }
  
  .boton:hover .arrow:before {
    right: 0;
  }


/* **************************************************************************** */

/* para mobile */

@media screen and (max-width:500px){
  
  .padre{
    height: 100vh;
  }
  
  .contentImagen{
    height: 85.2vh;
    object-fit: cover;
  }
  
  .data{
    font-size: 7px;
    height: 10%;
    padding-top: 2%;
  }
  
  .frase {
    width: 70%;
    
  }
  .frase h1{
    padding: 0;
  }
  
  .Boxbutton{
    width: 30%;
  }
  .boton{
    width: 100%;
    font-size: 10px;
    
  }
}




/* para table  */

@media screen and (min-width:500px){
  .contentImagen{
    height: 79%;
  }

  .data{
    height: 8vh;
  }

  .boton{
    width: 100%;
    font-size: 18px;
  }

  .frase h1{
    font-size: 25px;
  }

}


@media screen and (min-width: 1080px){
  .contentImagen{
    height: 75.2%;
  }

  .boton{
    font-size: 12px;
    width: 40%;
  }

  .frase h1{
    font-size: 20px;
  }

  .data{
    height: 10%;
  }

}