.father {
    background: rgb(0, 173, 239);
    padding: 0;
    margin: 0;
    width: 100%;
}

.son {
    display: flex;

}

.title {
    width: 50%;
    padding-left: 2%;
    color: white;
}


.title h1 {
    font-style: italic;
    font-size: 35px;
}


.Navegacion {
    width: 50%;
    display: flex;
    list-style: none;
    gap: 1%;
    color: white;

}

.ruta {
    text-decoration: none;
    width: 50%;
    display: flex;
    list-style: none;
    gap: 4%;
    color: white;
}

.ruta:hover {
    background-color: rgba(255, 254, 254, 0.193);
}




.Navegacion ul {
    font-size: 25px;
    padding: 0;
    text-align: center;
    font-weight: bold;

}

.Navegacion li {
    /* margin-top: 1%; */
    width: 100%;
    cursor: pointer;
}



.btnMenu {
    display: none;
}

.menuresponsive {
    width: 95%;
    height: 100vh;
    display: none;


}

.visible {
    display: block;
}

@media screen and (max-width: 500px) {
    .btnMenu {
        display: block;
        position: absolute;
        z-index: 999;
        height: 3vh;
        width: 8%;
        cursor: pointer;
        padding: 2%;
    }
    .son{
        display: none;
    }
    
    .menures {
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: flex-end;
        position: absolute;
    }
    
    
    .titleresponsive {
        color:white;
        border-bottom: solid 2px white;
    }
    
    .titleresponsive h1 {
        margin: 0;
    }
    
    .Navegacionresponsive{
        list-style: none;
        height: 100%;
    }
    
    
    .rutaResponsive{
        text-decoration: none;
        font-size: 20px;
        color: black;
        font-weight: bold;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .rutaResponsive li ul {
        padding: 8%;
        margin: 0;
        height: 4vh;
        background-color: rgb(0, 173, 239);
        width: 100%;
        
    }
    
    .rutaResponsive li ul:hover{
        background: rgba(12, 12, 122, 0.548);
        height: 30%;
    }
    
}


@media screen and (max-width: 980px) {
    .title{
        width: 40%;
    }

    .Navegacion{
        width: 60%;
    }
}

