.footer {
    background: rgb(0, 173, 239);
    justify-content: center;
    display: flex;
    align-items: center;
    height:6vh;
}

.footer h4 {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 15px;
}




@media screen and (max-width: 980px) {
    .footer h4{
        font-size: 20px;
        margin: 0;
        padding-top: 4%;
    }

    .footer{
        height: 10vh;
        display: flex;
        align-items: start;
        padding-top: 2%;
    
    }
}



@media screen and (max-width:540px){
    .footer h4{
        font-size: 9px;
        height: 2vh;
        margin: 0;
        padding: 0;

    }

    .footer{
        height: 3.5vh;
    }
}









