.footer {
    background: rgb(0, 173, 239);
    justify-content: center;
    display: flex;
    align-items: center;
    height:6vh;
}

.footer h4 {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 25px;
}



@media screen and (max-width: 980px) {
    .footer h4{
        font-size: 20px;
        height: 100vh;
    }
}

@media screen and (max-width:540px){
    .footer h4{
        font-size: 9px;
        height: 2vh;
        margin: 0;
        padding: 0;
    }
}
/* @media screen and (min-width:1080px){

    .footer {
        height: 5vh;
    }

    .footer h4{
        font-size: 15px;
        height: 100vh;
    }
} */