
.container{
    height: 100%;
    width: 100%;
    display: flex;
    background: rgb(0, 173, 239);
    gap: 5%;
}

 .contentMinicard{
 position: absolute;
    background: rgb(0, 173, 239);
    z-index: 999;
    width: 19%;
    text-align: center;

}

.content{
    display: flex;
    width: 100%;
}

.title{
    padding-top: 0.8%;
    padding-left: 2%;
    height: 10vh;
    width: 60%;
}

.Buscador{
    display: flex;
    padding-top: 1%;
    width: 40%;
    gap: 10%;

}

.continput{
    width: 60%;
   
}

.input{
    height: 45%;
    width: 100%;
    /* border-radius: 5px; */
    border: none;
    
}

.titleResponsive{
    margin: 0;
    padding: 0;
    color: white;
    font-style: italic;
    font-size: 40px;
}

.contboton{
    width: 30%;
    padding-left: 4%;
}

.boton{
    height: 45%;
    width: 50%;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background: rgba(19, 19, 115, 0.468);
    color: white;
    
}

.return{
    width: 30%;
}

.retorno{
    height: 45%;
    width: 80%;
    border-radius: 10px;
    border: none;
    background: rgba(188, 11, 11, 0.875);
    color: white;
    cursor: pointer;

}

@media screen and (max-width:500px){
    .titleResponsive {
        font-size: 20px;
    }
    .title{
        width: 40%;
    }

    .Buscador{
        width: 60%;
    }

    .continput{
        width: 40%;
    }

    .contboton{
        width: 30%;
        padding-left: 4%;
    }

    .retorno{
        width: 100%;
        font-size: 10px;
    }
    .return{
        width: 50%;
    }

    .continput{
        width: 50%;
    }

    .content{
        gap: 5%;
    }
}

/* @media screen and (min-width: 1080px){
    .title{
        width: 100%;
    }
} */